* {
font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}
.samplevido{
    display: none;
    
}
.vi{
    display: none;
}
.navbar{
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: rgb(2, 67, 2);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>h1{
    font-size: 2vw;
}
.logo > img{
   height: 10vh ;
}
.ham{
    margin-left: 26vw;
    display: none;
    scale: 1.6;
}
.menu{
  
 display: none;
    
}
.menu.open {
    display: flex;
    flex-direction: column;
    margin-top: 56%;
    /* text-align: center; */
    width: 100%;
    background-color: rgba(0, 128, 0, 0.526);
    position: absolute;
   
     /* Show the menu when open */
    
  }
.menu.open>li{
    height: 30px;
    font-weight: 600;
    color: rgb(3, 40, 3);
    border: 1px solid white;
    background-color: rgba(251, 247, 247, 0.166);
    margin-top: 1px;
    text-align: center;

}
.menu.close{
    display: none;
}
  

  
  .menu li a {

    color: black;
    text-decoration: none;
    
  }
  
  .menu li:hover {
    background-color: #1054047b;
  }
.links{
   
    color: rgb(2, 36, 2);
    margin-left: 10px;

}
.links ul{
    display: flex;
    gap: 10px;

}
.links ul li a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.links ul li a.active{
    
    color: green;
    text-decoration: underline 2px green;
    
}
.search{
    color: black;
    margin-left: 30pc;
    display: flex;
    align-items: center;
    gap: 13px;
}
.search input{
    padding: 8px;
    box-shadow: 0px 3px 3px grey;
    border-radius: 20px;
    border: 1px solid gray;
}
input::placeholder{
    color: rgb(1, 24, 1);
}
/* css for showcase file */


.circle{
   
   
}
.boxes{
    /* background-color: red; */
    height: 70px;
    width: 70px;
    position: absolute;
    
}
.boxes >img{
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.495));
   
    height: 160%;
    width: 170%;
    scale: 1.2;
    
}
.boxes:nth-child(1 ){
margin:50px -60px;


}
.boxes:nth-child(2 ){
    margin: -50px 50px;
}
.boxes:nth-child(3 ){
    margin: 150px 55px;
}
.boxes:nth-child(4 ){
    margin: 50px 150px;
}
.rota{

    z-index: 999;
    margin-left: -510px;
     margin-top: 80px ;
    display: flex;
    height: 10pc;
    width: 10pc;
    scale: 2;
    transition: all 1s ease-out;

   
   
}

/* .back{
    z-index: -999;
    position: absolute;
    background-image: url("https://wallpapers.com/images/featured/starbucks-ack1avygrxnhaxjq.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    height: 90%;
    width: 100%;
    
    padding: 0px;
 
} */
.main{
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(5, 118, 14) , rgb(2, 27, 2));
   display: flex;
   gap: 20%;
   overflow: hidden;
    
    
}
.info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 90px;
   color: white;
   margin-top: 90px;
}
.info>h1{
    filter: drop-shadow(4px 6px 5px black );
    color: white;
    font-size: 5pc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info >h3{

}
.info>a{
    font-weight: 600;
    color: black    ;
    text-decoration: none;
}
.info >P{
    width: 40%;
    color: white;
}

/* 
css for other  */

.other{
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.other h1{
    padding: 10px 30px;
}

.item{
   
   
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box{
    text-align: center;
}
.box>img:hover{
     animation: move .6s  2 alternate ease-in;
}
@keyframes move {
    from{
       transform: rotateY(0deg);
    } 
    to{
      transform: rotateY(180deg);
    }
    
}
.box >img{
    border-radius: 50%;
    height: 100px;
    width: auto;
}
.recommends{
    margin: 0px;
display: flex;
justify-content: space-evenly;
width: 100%;
    

    
}

.recommends>.card{
   
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(65, 105, 65),rgb(1, 33, 1));
    color: rgb(1, 31, 1);  
    height: 12vh;
    width: 12vw;
  

}

#icon{
    padding: 5px;
 
}
.card{
    transition: all .1s ease-in;
    box-shadow: 0px 0px 0px black;
}
.card>h3,h6{
    color: white;  
    margin-top: 2px;

}
.card>h2{
    margin-top: 5px;
    
}
.card:hover{
    margin-top: -20px;
    scale: 1.1;
    box-shadow: 7px 8px 5px rgba(0, 0, 0, 0.445);
}
.slider{
    margin-left: 20px;
    padding: 30px;
    height: 300px;
    width:90%;
    overflow: hidden;


}
.slider >img{
    width: 100%;
    height: 100%;

}
.details{
   
    margin-top: 220px;
    padding: 20px;
    z-index: 999;
    position: absolute;
    color: white;

}
.details>h1{
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.details>p{
    color: white;
}

/* css for foot */

.foot{
    font-size: 120%;
    width: 100%;
   padding: 5%  0px;
   color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap:5%;
    background-image: radial-gradient(rgb(12, 85, 12),rgb(2, 35, 2));

}
.foot>img{
    height: 10%;
    width: 10%;
    
}
.aboutus,.respon,.quick{
    margin-left: 10px;
}

.aboutus>ul,.respon>ul,.quick>ul{
    margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.social>ul{
    margin-top: 0px;
    display: flex;
    gap: 15px;
}

.imgs img{
    height: 200px;
    width: 200px;
}

@media (max-width: 576px) {
    /* Styles for phones */
   .main{
    width: 100%;
    background-image: none;
    height: 60vh;

   }
   .rota{
    display: none;
   }
    .navbar{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .search{
        display: none;
    }
    .logo>h1{
        font-size: 5vw;
    }
    .links{
        display: none;
    }

    .ham{
        display: block;
    }
    .menu{
        display: block;
    }
    .foot{
        padding: 0px;
        display: flex;
        flex-direction:column;
       
    }
    .foot img{
        width: 30%;
    }
    .otherlogo{
        display: flex ;
        margin-top: 5%;
        margin-left: 16%;
        gap: 20px;
    }
    .social{
      margin-left: 5px;
    }
    .slider{
        margin-left: 0px;

        padding: 0px 15px;
    }
    .details{
        display: none;
        color: black;
    }
    .details>p{
        color: black;
    }
    .recommends{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .recommends>.card{
        width: 30vw;
        height: 15vh;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .info{
     display: none;
    }
 
   
    .vi{
        display: block;
    height: 70vh;


  }
  .aboutus>ul,.respon>ul,.quick>ul,.social{
      padding: 5px;

}

}
